* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y mandatory;
    width: 100vw;
}
html span {
    color:greenyellow;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container1{
    background:url(../img/back.jpg)no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    white-space:nowrap;
   
    text-align: center;
 
}

body .content {
    color: #e4e6df;
    margin:0 auto;
}
/* body::before {
    content: "";
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.2) center center/cover;
    position: absolute;
}

body * {
    z-index: 10;
} */

.content span {
    color:rgb(214, 60, 60);
}
.choice {
display: flex;
justify-content: center;
margin-top: 100px;
margin-right: 50px;
justify-content: space-evenly;
}

.btn-red  {
    background: rgb(214, 60, 60);
    cursor: pointer;
    border: black solid 1px;
    padding: 10px;
    border-radius: 20px;
    color:white;
    
}
.btn-red:hover{
    opacity: 0.7;
}

.btn-blue  {
    background: rgb(58, 108, 216);
    cursor: pointer;
    border: black solid 1px;
    padding: 10px;
    border-radius: 20px;
    color:white;
    
}
.btn-blue:hover{
    opacity: 0.7;
}
[data-tooltip] {
    position: relative;
    cursor: default;

}

[data-tooltip]::after {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom:125%;
    right: 125%;
    text-align: center;
    box-sizing: border-box;
    content: attr(data-tooltip);
    color: seashell;
    padding: 8px;
    border-radius: 10px;
    font-size:1rem;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition:opacity 0.3s, transform 1s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
    transform:translateY(0);
}


/* page2****************************** */
/* #container2 {
position:relative;
width: 100vw;
height: 100vh;
} */

/* #container2 #background2 {
position:absolute;
background: url(../img/2.jpg) no-repeat center center/cover;
height: 100vh;
width: 100vw;
background-position: center;
} */


/* #container2 #bgContainer img {
    width: 100%;
    border: none
} */

/* #content2 {
    overflow:hidden;
    position:relative;
    width: 800px;
    margin:0 auto;
} */
#holder {
    top:0;
    
}
#navbar {
    top: 0;
    position: fixed;
    width: 450px;
    justify-content: center;
    border-bottom: greenyellow 1px solid;
    border-right: greenyellow 1px solid;
    border-radius: 20px;
    background-color: rgb(83, 79, 79);
    opacity: 0.7;
    z-index: 50;
    justify-content: center;
    height: 80px;
}

#navbar:hover {
    opacity: 1;
    
}

 audio {
    height: 30px;
    width: 100px;
}
#navbar ul {
    display: flex;
    justify-content:flex-end;    
    padding: 1rem 1rem;
    align-items: center;
}

#navbar li {
    padding: 0 10px;
}
#navbar li:hover {
    transition-timing-function: ease-out;
    opacity: 1;
    transform: scale(1.5);
}

#navbar a {
    color:greenyellow;
    font-family: 'ZCOOL KuaiLe', cursive;
    position: relative;
}

#navbar a::before {
    content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -5px;
  left: 0px;
  background-color: greenyellow;
  transform: scale(0);
  transform-origin: left;
  transition: all .8s;
}

#navbar a:hover:before {
    transform: scale(1);
}
#navbar a:hover:after {
    transform: scale(1);
}

#navbar a:after {
    content: "";
    width: 100%;
    height: 2px;
    transform: scale(0);
    transform-origin: right;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: greenyellow;
    transition: all .8s;
  }


/* ****************page 1 ******************************* */
#aboutme {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(..//img/matr.gif) no-repeat center center/cover;
    
}



.head-line {
    position: fixed;
    color: rgb(223, 219, 219);
    left: 650px;
    top:20px;
}



.head-line span {
    color: yellowgreen;
    font-family:'ZCOOL KuaiLe', cursive; ;
    position: relative;
    z-index: -1;
}

.head-line span::before {
    content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient( transparent 0%, #000 0%, #000 100%);
    animation:  animate 2s linear forwards infinite;
}

@keyframes animate
{
    0% {
        left: 110%
    }
    100% {
        left: -100%
    }
}


/* .head-line span:hover:after {
    content: '';
    position: absolute;
    left: 0;
    width: 120%;
    height: 120%;
    background: linear-gradient( transparent 0%, #000 0%, #000 100%);
    animation:  animate2 1.5s linear forwards;
}

@keyframes animate2
{
    0% {
        left: 0
    }
}
100% {
    left: 110%
} */


.profile {
    background: url(../img/meface.jpg) no-repeat center center/cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    right: 0;
    top:0;
    position:fixed;
    box-shadow: 10px 10px rgb(3, 17, 9);
    opacity: 0.8;
    transition: transform 4s;

}

.profile:hover {
   
    opacity: 1;
    transform: rotate(360deg) scale(2) translateY(50%) translateX(-50%);
    
   
}



.content2 {
position: relative;
top:350px;
left: 50px;
height:150px;
width: 400px;
border:rgb(39, 39, 37) solid 1px;
border-radius: 15px;
background: rgba(191, 191, 191, 0.5);
transition: transform 2s;
}

.content2:hover{
    transform: scale(1.5);
    left:100px;
   
}

.content2 ul {
    display:flex;
    flex-direction: column;
}

.content2 ul li { 
   
    opacity: 0.8;
    color: rgba(191, 191, 191, 1);
    padding: 10px;
}
/* ****************page 2 ******************************* */
#experince {
    background: url(../img/matr.gif) no-repeat center center/cover;
    width: 100%;
    height: 100vh;
}
.container3 {
    width: 100%;
   
    display: grid;
    grid-template-columns: 1fr 2fr;
   
}

.content3 {
    width:40%;
    color: white;
    position: relative;
    top:350px;
    left: 50px;
    border:rgb(39, 39, 37) solid 1px;
border-radius: 15px;
background: rgba(191, 191, 191, 0.5);
transition: transform 2s;
}

.content3:hover{
    opacity: 1;
    transform: scale(1.5);
    left:100px;
}

.content3 ul {
    display:flex;
    flex-direction: column;
}

.content3 ul li { 
   
    opacity: 0.8;
    color: rgba(191, 191, 191, 1);
    padding: 10px;
}
.content4 {
    width:90%;
    color: white;
    position: relative;
    top:350px;
    left: 50px;
    border:rgb(39, 39, 37) solid 1px;
    border-radius: 15px;
    background: rgba(191, 191, 191, 0.5);
    transition: transform 2s;
    text-align: center;
}

.content4 ul {
    display:grid;
    grid-template-areas:
    'first second third forth fifth';
    width: 100%;
    height: 100%;
    position: absolute;
    grid-column-gap: 10px;
}
.first {
    grid-area: first;
    width:100%;
    background:url(../img/mekorot.jpg) no-repeat center center/cover;
    height: 80%;
    margin-top: 20px;
    border-radius: 15%;
    
}
.second {
    grid-area: second;
    width:100%;
    background:url(../img/tesla.png) no-repeat center center/cover;
    height: 80%;
    margin-top: 20px;
    border-radius: 15%;
    
}
.third {
    grid-area: third;
    width:100%;
    background:url(../img/edgeledger.png) no-repeat center center/cover;
    height: 80%;
    margin-top: 20px;
    border-radius: 15%;
    
}
.forth {
    grid-area: forth;
    width:100%;
    background:url(../img/apple.png) no-repeat center center/cover;
    height: 80%;
    margin-top: 20px;
    border-radius: 15%;
    
}
.fifth {
    grid-area: fifth;
    width:100%;
    background:url(../img/hotel.png) no-repeat center center/cover;
    height: 80%;
    margin-top: 20px;
    border-radius: 15%;
    
}

.content4 ul li { 
   
    opacity: 0.8;
    color: rgba(191, 191, 191, 1);
    padding: 10px;
    position: absolute;
}
/* ****************page 3 ******************************* */
#contactme {
    background: url(../img/matr.gif) no-repeat center center/cover;
    width: 100%;
    height: 100vh;    
}


.content5 {
    position: relative;
    top:500px;
    left: 150px;
    height:150px;
    width: 80%;
    border:rgb(39, 39, 37) solid 1px;
    border-radius: 15px;
    background: rgba(191, 191, 191, 0.5);
    text-align: center;
    }

    .content5 h2 {
       
        color: rgb(223, 219, 219);
        animation:  animate2 5s linear forwards infinite;
        position: absolute;
        font-family: 'ZCOOL KuaiLe', cursive;
    }
    
@keyframes animate2 {
    
    0% { left: -0%;

    }
    100% {
        left: 90%;
    }
}  
    
.content5 ul {
        display:flex;
        justify-content: space-around;
        margin-top: 50px;
}

.content5 li { 
       
        opacity: 0.8;
        color: rgba(191, 191, 191, 1);
        padding: 10px;
        transition: transform 2s;
}

.content5 li:hover {
    transform: rotate(360deg);
}